// Font Family
$font-family: -apple-system, BlinkMacSystemFont, "Themify", Arial, sans-serif;

//Light Mode
$primary-lt-color: #ffffff;
$secondary-lt-color: #000000;

//Dark Mode
$primary-dk-color: #000000;
$secondary-dk-color: #00fbff;

// Breakpoints
$extra-small-screen: 576px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
